<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMC</title>
</head>
<body>
<div class="container">
    <div th:if="${resultadoImc}" th:utext="${resultadoImc}"></div>
    <h2>Calculadora de IMC</h2>
    <form action="/" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="alturaCampo"></span>
            <input id="altura" name="altura" type="number" class="form-control" placeholder="Altura (cm)" aria-label="altura"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="pesoCamo"></span>
            <input id="peso" name="peso" type="number" class="form-control" placeholder="Peso (kg)" aria-label="peso"
                   aria-describedby="basic-addon1">
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input value="Calcular" type="submit" class="btn btn-primary"/>
            </div>
            <div class="col-sm-6 text-right"></div>
        </div>
    </form>
</div>
</body>
</html>